$dark-blue:#011627;
$light-blue:#273642;
$yellow:#FF9F1C;
$footer-blue:#033863;
$other-white:#FAFAFA;
$red:#E71D36;
$sky-blue:#2EC4B6;

$raleway:'Raleway',
sans-serif;
$dm-sans: 'DM Sans',
sans-serif;
// /////////////////////
// variables
// /////////////////////





*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
}

html {
    height: -webkit-fill-available;
}



// ////////////////////
// global styles 
// ///////////////////



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-blue;
    height: 10vh;
    width: 100vw;




    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .nav-link a {
            word-spacing: 3px;
            color: $other-white;
            text-decoration: none;
            font-family: $dm-sans;
        }

        .nav-link {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: .5px;
                background-color: $yellow;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            &:hover::after,
            &:focus::after {
                transform: scaleX(1);
            }
        }
    }
}



#active-link {
    &::after {
        transform: scale(1) !important;
    }
}

// //////////////////
// header
// /////////////////////
@media screen and (max-width:768px) {
    .nav-links {
        pointer-events: none;
        flex-direction: column;
        position: fixed;
        width: 100% !important;
        top: 10vh;
        right: 0;
        background-color: $dark-blue;
        height: 90vh;
        display: flex !important;
        z-index: 999;
        padding-bottom: 80px;
        clip-path: circle(100px at 90% -25%);
        transition: all .6s ease-out;

        &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 200px;
            bottom: 12%;
            right: -20%;
            background-color: rgba($yellow, .2);
            z-index: -1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 50%;
            height: 200px;
            top: 12%;
            left: -20%;
            background-color: rgba($yellow, .2);
            z-index: -1;
        }

        .nav-link {
            opacity: 0;
        }

        .nav-link:nth-child(1) {
            transition: all .5s ease-in .2s;
        }

        .nav-link:nth-child(2) {
            transition: all .5s ease-in .4s;
        }

        .nav-link:nth-child(3) {
            transition: all .5s ease-in .6s;
        }

        .nav-link:nth-child(4) {
            transition: all .5s ease-in .8s;
        }
    }

    .fade {
        opacity: 1 !important;
    }



    .open {
        clip-path: circle(1000px at 90% -25%);
        pointer-events: all;
    }

    .burger {
        transition: all .2s ease;
        position: absolute;
        display: block !important;
        z-index: 9999;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        overflow: hidden;

        .line1,
        .line2,
        .line3 {
            position: relative;
            width: 30px;
            height: 3px;
            background: $other-white;
            margin: 5px;
            transition: all .2s ease;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                background-color: $yellow;
            }

        }

        .line1 {
            &::after {
                width: 90%;
            }

        }

        .line2 {
            &::after {
                width: 60%;
            }
        }

        .line3 {
            &::after {
                width: 30%;
            }
        }
    }

    header {
        position: relative;
    }

    .burger-rotate {
        box-shadow: 3px 3px 9px $light-blue;
    }

    .line-rotate {
        transform: rotate(90deg);
    }
}

// /////////////////////////
// responsive menu
// /////////////////////////


.top-carousel {
    width: 100%;
    background-color: $dark-blue;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 20px;
    position: relative;

    .heading-slider-container {
        width: 100%;
        position: relative;
        height: 150px;
        pointer-events: none;
        overflow: hidden;

        .heading-slider {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            animation: headingslider 10s ease-out alternate infinite;

            h1 {
                font-family: $raleway;
                font-size: 50px;
                color: $other-white;
                text-transform: uppercase;
                line-height: 1.5;
                letter-spacing: 5px;
                word-spacing: 10px;
                font-weight: lighter;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 3px;
                    border-radius: 4px;
                    background-color: $red;
                }

                span {
                    color: $yellow;
                }
            }
        }
    }


    .svg-container {
        margin-left: auto;
        width: 450px;
        height: 450px;
        padding: 20px;
        overflow: hidden;

        .top-carousel-svg {
            width: 100%;
            height: 100%;
        }
    }

    .prop1 {
        position: absolute;
        bottom: 30%;
        background-color: $light-blue;
        width: 120px;
        height: 50px;
        opacity: .4;
        border-radius: 3px;
        animation: prop1move 5s ease infinite alternate;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: -50%;
            background-color: $other-white;
            opacity: .6;
            height: 2px;
            width: 100%;
        }
    }

    .prop2 {
        position: absolute;
        top: 7%;
        right: 2%;
        width: 200px;
        height: 2px;
        background-color: rgba($red, .2);
        // z-index: 7;

        &::after {
            position: absolute;
            top: -500%;
            left: 0;
            content: '';
            width: 10px;
            opacity: .4;
            height: 10px;
            border-radius: 50%;
            background-color: $sky-blue;
            animation: prop2move 4s ease infinite;
        }
    }

}

@keyframes prop1move {
    from {
        width: 0;
    }

    to {
        width: 120px;
    }
}

@keyframes prop2move {
    0% {
        left: 0%;
    }

    50% {
        left: 90%;
    }

    100% {
        left: 0;
    }
}

@keyframes headingslider {
    0% {
        top: 0;
    }

    50% {
        top: -150px;
    }

    100% {
        top: -300px;
    }
}



@media screen and (max-width:768px) {
    .top-carousel {
        padding-top: 20px;
        padding-left: 20px;
    }

    .heading-slider-container .heading-slider h1 {
        font-size: 30px !important;
    }

    @keyframes headingslider {
        0% {
            top: 0;
        }

        100% {
            top: -300px;
        }
    }

    .svg-container {

        width: 200px !important;
        height: 200px !important;
        margin: 5px 5px 5px auto !important;

        .top-carousel-svg {
            width: 200px;
            height: 200px;
        }
    }

    .prop1 {
        width: 80px;
        animation: prop1move 3s ease infinite alternate !important;
        height: 30px !important;
    }

    @keyframes prop1move {
        from {
            width: 0;
        }

        to {
            width: 80px;
        }
    }

    .prop2 {
        width: 60px !important;
    }
}

// ///////////////////
// top carousel 
// ////////////////////
.category-section {
    width: 100%;
    overflow: hidden;

    .category-heading {
        text-transform: capitalize;
        color: $dark-blue;
        font-size: 60px;
        font-family: $dm-sans;
        font-weight: lighter;
        letter-spacing: 7px;
        // line-height: 2.5;
        text-align: center;
        width: 100%;
    }

    .category-section-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        height: 350px;
        margin: 100px auto;

        .left {
            width: 45%;
            height: 90%;
        }

        .right {
            height: 90%;
            width: 45%;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .mobiles,
    .refrigerators,
    .airconditioners,
    .laptops,
    .tvs,
    .washingmachines,
    .security,
    .hometheaters {
        position: relative;

        &::after {
            content: 'MOBILES';
            width: 100%;
            bottom: -15%;
            left: 0%;
            // transform: translate(-50%, -50%);
            position: absolute;
            font-family: $dm-sans;
            font-weight: 400;
            color: $light-blue;
            letter-spacing: 3px;
            font-size: 22px;
        }
    }

    .mobiles::after {
        content: 'MOBILES';
    }

    .laptops::after {
        content: 'LAPTOPS';
    }

    .tvs::after {
        content: 'TELEVISIONS';
    }

    .hometheaters::after {
        content: 'HOME THEATERS';
    }

    .refrigerators::after {
        content: 'REFRIGERATORS';
    }

    .washingmachines::after {
        content: 'WASHING MACHINES';
    }

    .airconditioners::after {
        content: 'AIR CONDITIONERS ';
    }

    .security::after {
        content: 'SECURITY';
    }

}

@media screen and (max-width:768px) {
    .category-section {
        .category-heading {
            font-size: 30px;
        }

        .category-section-row {
            height: 120px !important;
            margin: 40px auto !important;

            .category-heading {
                font-size: 20px;
            }

            .mobiles,
            .refrigerators,
            .airconditioners,
            .laptops,
            .tvs,
            .washingmachines,
            .security,
            .hometheaters {
                &::after {
                    font-size: 12px;
                    letter-spacing: 2px;
                    bottom: -20%;
                }

            }

            .washingmachines::after,
            .airconditioners::after {
                bottom: -35%;
            }
        }
    }
}

// ///////////////////////
// category section
// //////////////////////
.modal-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8616);
    z-index: 999999999;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-blue;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
}

.modal-title {
    font-size: 48px;
    font-family: $raleway;
    color: white;
}

.modal-input-container {
    width: 80%;
    cursor: pointer;
    margin: 20px auto;
    background-color: rgb(100, 99, 99);
    height: 40px;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-input-label {
    user-select: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: $raleway;
    font-size: 20px;
    color: rgb(246, 243, 243);
}

.modal-button {
    width: 60%;
    margin: 30px auto;
    display: block;
    height: 35px;
    background-color: $sky-blue;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background .3s ease;

    font-family: $raleway;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    font-size: 18px;

    &:hover {
        background-color: lighten($sky-blue, 30%);
    }
}

.modal-contact-link {
    position: absolute;
    right: 2%;
    bottom: 2%;
    font-family: $raleway;
    font-size: 12px;
    color: #EBEBEB;
}

.close-modal {
    position: absolute;
    top: 3%;
    opacity: .7;
    right: 3%;
    cursor: pointer;
    font-size: 20px;
    color: white;
}




.modal-close-class {
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width:768px) {
    .modal {
        width: 90%;
        height: 50%;
    }

    .modal-title {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .modal-input-label {
        font-size: 18px;
    }

    .modal-input-container {
        margin: 25px auto;
    }

    .modal-button {
        margin: 40px auto;
    }

}

.catogree-name-quire-to-contactus {
    text-decoration: none;
}

@media screen and (max-width:380px) {
    .modal-title {
        margin-top: 10px;
    }

    .modal-button {
        margin: 20px auto;
    }

    .modal-input-label {
        font-size: 16px;
    }

    .modal-contact-link {
        font-size: 12px;
    }
}

// ////////////////////////
// modal
// ////////////////////////

footer {
    background-color: $footer-blue;
    height: auto;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;

    .social-icons {
        display: flex;
        align-items: center;

        .instagram {
            margin-right: 10px;
        }

        z-index: 10;
    }

    .working-time {
        margin-top: 10px;
        color: $other-white;
        z-index: 10;
        font-family: $raleway;
        font-weight: bolder;
        font-size: 18px;
        line-height: 1.2;
    }

    .copyright {
        color: $other-white;
        margin-top: 10px;
        z-index: 10;

        font-family: $raleway;
        font-size: 14px;
    }

    .phone-call-svg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .phone-call-svg {
        svg {
            opacity: .3;
        }
    }
}


// ////////////////////
// footer
// ///////////////////